<p id="notice"><%= notice %></p>

<h1>Amenities</h1>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @amenities.each do |amenity| %>
      <tr>
        <td><%= amenity.amenity_type %></td>
        <td><%= amenity.description %></td>
        <td><%= link_to 'Edit', edit_amenity_path(amenity), class: "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New amenity', new_amenity_path, class: "btn btn-secondary" %>
