<%= form_with(model: property, local: true) do |form| %>
    <% if property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
  
        <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> <%= form.label :name %></th>
          <th> <%= form.label :headline %></th>
          <th> <%= form.label :description %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.text_field :name %> </td>
          <td> <%= form.text_field :headline%> </td>
          <td> <%= form.text_area :description %></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th> <%= form.label :address %></th>
          <th> <%= form.label :city %></th>
          <th> <%= form.label :state %></th>
          <th> <%= form.label :country %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.text_field :address %></td>
          <td> <%= form.text_field :city %></td>
          <td> <%= form.text_field :state %></td>
          <td> <%= form.text_field :country %></td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> <%= form.label :guests %></th>
          <th> <%= form.label :bedrooms %></th>
          <th> <%= form.label :beds %></th>
          <th> <%= form.label :baths %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.number_field :guests, step: 1 %></td>
          <td> <%= form.number_field :bedrooms, step: 1 %></td>
          <td> <%= form.number_field :beds, step: 1 %></td>
          <td> <%= form.number_field :baths, step: 1 %></td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> <%= form.label :latitude %></th>
          <th> <%= form.label :longitude %></th>
          <th> <%= form.label :price_cents %></th>
          <th> <%= form.label :price_currency %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.number_field :latitude %></td>
          <td> <%= form.number_field :longitude %></td>
          <td> <%= form.number_field :price_cents %></td>
          <td> <%= form.text_field :price_currency %></td>
        </tr>
      </tbody>
    </table>
  
    <h3>Images</h3>
    <%= form.file_field :images, multiple: true %>
    <br>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>