<script src="https://unpkg.com/js-datepicker/dist/datepicker.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">

<div class="d-flex p-2 m-5">
  <div class="container shadow py-2">
    <h4 class="mb-3">Reserve <%= @property.name %></h4>
    <div class="row justify-content-center">
    <form action="/properties/reservation">
        <div class="col">
          <p class="fw-bold"> CHECK-IN </p>
          <input type="text" class="form-control test-datepickers" name="checkin" id="dp1" value="<%= @checkin %>" readonly>
        </div>
        <div class="col">
          <p class="fw-bold"> CHECKOUT </p>
          <input type="text" class="form-control test-datepickers" name="checkout" id="dp2" value="<%= @checkout %>" readonly>
        </div>
        <% if user_signed_in? %>
        <div class="justify-content-center d-grid">
          <br>
          <input type="submit" value="Reserve" class="w-100 btn btn-secondary btn-lg" id="reservationSubmit">
        </div>
        <% end %>

    </form> 
    </div>
    <br>
    <div id="priceDisplay">
      <p class="fs-5">$<span id="price"></span> for <span id="nights"></span> nights</p>
      <p class="fs-5">Price includes all fees</p>
      <% if !user_signed_in? %>
      <a class="nav-link fs-5" href="#" data-bs-toggle="modal" data-bs-target="#signInModal">Sign in to reserve this property</a>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  const dp1 = document.querySelector("#dp1");
  const dp2 = document.querySelector("#dp2");
  const minimumDate = new Date("<%= @minimum_date %>");
  const maximumDate = new Date("<%= @maximum_date %>");
  <% if @checkin != '' %>
    const selectedIn = new Date("<%= @selectedin %>".replace(/-/g, '\/').replace(/T.+/, ''));
  <% end %>
  <% if @checkout != '' %>
    const selectedOut = new Date("<%= @selectedout %>".replace(/-/g, '\/').replace(/T.+/, ''));
  <% end %>
  var reserved_dates = [];
  const x = document.getElementById("priceDisplay");
  x.style.display = "none";
  <% if user_signed_in? %>
    const y = document.getElementById("reservationSubmit");
    y.style.display = "none";
  <% end %>

  <% @reserved_dates.each do |date| %>
    reserved_dates.push(new Date("<%= date %>"));
  <% end %>

  checkIn = datepicker(dp1, {
    id: 1,
    minDate: minimumDate,
    maxDate: maximumDate,
    disabledDates: reserved_dates,
    <% if @checkin != '' %>
      dateSelected: selectedIn,
    <% end %>
    onSelect: (instance, date) => {
      // instance: The datepicker instance
      // date: The selected Date object
      setNewEndDate(checkOut, date, reserved_dates);
    },
    formatter: (input, date, instance) => {
      const offset = date.getTimezoneOffset();
      date = new Date(date.getTime() - (offset * 60 * 1000));
      input.value = date.toISOString().split('T')[0];
    },
    showAllDates: true
  });
  checkOut = datepicker(dp2, {
    id: 1,
    minDate: minimumDate,
    maxDate: maximumDate,
    disabledDates: reserved_dates,
    <% if @checkout != '' %>
      dateSelected: selectedOut,
    <% end %>
    onSelect: (instance, date) => {
      setNewStartDate(checkIn, date, reserved_dates);
    },
    formatter: (input, date, instance) => {
      const offset = date.getTimezoneOffset();
      date = new Date(date.getTime() - (offset * 60 * 1000));
      input.value = date.toISOString().split('T')[0];
    },
    showAllDates: true
  });
  if (window.location.pathname == "/properties/reservation") {
    document.getElementById("nights").innerHTML = <%= @nights %>;
    document.getElementById("price").innerHTML = <%= @price %>;
    x.style.display = "block";
  }
});

function setNewEndDate(instance, date, reserved_dates) {
  date.setDate(date.getDate() + 1);
  try {
    instance.setMin(date);
  }
  catch(err) {

  }
  calculatePrice(instance, reserved_dates);
}

function setNewStartDate(instance, date, reserved_dates) {
  date.setDate(date.getDate() - 1);
  try {
    instance.setMax(date);
  }
  catch(err) {
    
  }
  calculatePrice(instance, reserved_dates);
}

function calculatePrice(instance, reserved_dates) {
  const x = document.getElementById("priceDisplay");
  <% if user_signed_in? %>
  const y = document.getElementById("reservationSubmit");
  <% end %>
  var dateRange = instance.getRange();
  if (typeof dateRange["start"] === "undefined" || typeof dateRange["end"] === "undefined") {
  // range not complete
    x.style.display = "none";
    <% if user_signed_in? %>
    y.style.display = "none";
    <% end %>
    return;
  }
  if (reserved_dates.length != 0 && reserved_dates[0] < dateRange["end"] && reserved_dates[reserved_dates.length -1] > dateRange["start"]) {
  // there are potential clashes with other reservations
    for (let i = 0; i < reserved_dates.length; i++) {
      if (reserved_dates[i] > dateRange["start"] && reserved_dates[i] < dateRange["end"]) {
        alert("Reservation must not include unavailable dates!");
        return;
      }
    }
  }
  // load the price and number of nights into the DOM
  const nights = getNumberOfDaysBetweenDates(dateRange["start"], dateRange["end"]);
  const price = nights * <%= @property.price_cents / 100 %>;
  document.getElementById("nights").innerHTML = nights;
  document.getElementById("price").innerHTML = price;
  x.style.display = "block";
  <% if user_signed_in? %>
  if (window.location.pathname != '/properties/reservation') {
    y.style.display = "block";
  } else {
    document.getElementById("checkin_strip").value = document.getElementById("dp1").value;
    document.getElementById("checkout_strip").value = document.getElementById("dp2").value;
  }
  <% end %>
}

function getNumberOfDaysBetweenDates(date1, date2) {
  const timeDifference = date2.getTime() - date1.getTime();
  const millisecondsInADay = 1000 * 60 * 60 * 24;

  return Math.round(timeDifference / millisecondsInADay);
}

</script>