<div class="text-center"> 
  <h1> <%= @property.name %> </h1>
  <h2> <%= @property.headline %> </h2>
</div>

<div class="d-flex justify-content-around">
  <div class="p-2">Rating  <span class="fw-bold"><%= @property.average_rating %></span><span class="pe-3" style='font-size:15px;'>&#9733;</span> Reviews <span class="fw-bold"><%= @property.reviews_count %></span></div>
  <div class="p-2"><%= @property.city %>, <%= @property.state %>, <%= @property.country %></div>
  <div class="p-2">
    <p>
      <a href="#" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#shareModal">
        Share
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
          <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"></path>
        </svg>
      </a>
    </p>  
  </div>
</div>
<div class="p-2 m-5">
  <%= image_tag "living room 2", class: "img-fluid mx-auto d-block" %>
  <%= link_to 'See All Images', properties_images_path, class: "btn btn-primary d-block" %>  
</div>

<div class="d-flex p-2 m-5">
  <div>
    <h5>Entire home in <%= @property.city%>, <%= @property.country%></h5>
    <p> <%= @property.guests %> guests . <%= @property.bedrooms %> bedrooms . <%= @property.beds %> beds . <%= @property.baths %> baths </p>
    <h5><%= image_tag "erich_image", class: "erich_image rounded-circle p-2" %><%=@property.name%> Hosted by Erich </h5>
    <p> <%= @property.description.html_safe %> </p>
    <p> <%= @property.address %> </p>
    <p> <%= humanized_money_with_symbol(@property.price)%> </p>
    <% if @property.average_rating %>
      <p> <%= @property.average_rating %> </p>
    <% end %>
    <p> <%= @property.available_dates.first %> </p>
  </div>
</div>

<div class="d-flex p-2 m-5">
  <div>
    <h5>What this place offers</h5>

    <div class="container">
    <% i = 0 %>
    <% while @amenities_loop > 0 do %>
        <div class="row">
            <div class="col">
              <p><%= image_tag @property.amenities[i].image, class: "amenities_image p-2" %><%= @property.amenities[i].description %> </p>
            </div>
            <div class="col">
              <p><%= image_tag @property.amenities[i+1].image, class: "amenities_image p-2" %><%= @property.amenities[i+1].description %> </p>
            </div>
        </div>
        <% i += 2 %>
        <% @amenities_loop -= 1 %>
    <% end %>
        <a href="#" class="btn btn-secondary d-block" data-bs-toggle="modal" data-bs-target="#amenitiesModal">Show all <%= @property.amenities.length %> amenities</a>
    </div>
  </div>
</div>
<%= render 'layouts/share_modal' %>
<%= render 'layouts/amenities_modal' %>
