<div class="d-flex p-2">
  <div>
    <p> <%= @property.name %> </p>
    <p> <%= @property.headline %> </p>
    <p> <%= @property.description %> </p>
    <p> <%= @property.address %> </p>
    <p> <%= @property.city %> </p>
    <p> <%= @property.state %> </p>
    <p> <%= @property.country %> </p>
  </div>
</div>