<h1> Home Landing Page </h1>
<div class="d-flex p-2">
  <div>
    <% if @property.images.first %>
      <p> <%= image_tag @property.images.first %> </p>
    <% end %>
    <p> <%= @property.name %> </p>
    <p> <%= @property.headline %> </p>
    <p> <%= @property.description %> </p>
    <p> <%= @property.address %> </p>
    <p> <%= @property.city %> </p>
    <p> <%= @property.state %> </p>
    <p> <%= @property.country %> </p>
    <p> <%= humanized_money_with_symbol(@property.price)%> </p>
    <% if @property.average_rating %>
      <p> <%= @property.average_rating %> </p>
    <% end %>
    <p> <%= @property.available_dates.first %> </p>
  </div>
</div>