</div><!-- reviews Modal -->
<div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewsModalLabel"><%= image_tag "laurel left", class: "reviews_image p-2"%><span class="fw-bold display-1"><%= @property.average_rating %></span><%= image_tag "laurel right", class: "reviews_image p-2"%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
        <% @property.reviews.each do |review| %>
          <div class="ms-3">
            <h4 class="mb-1">
              <% if !review.user.image.blank? %>
                <%= image_tag review.user.image, class: "erich_image rounded-circle p-2" %>
              <% end %>
              <%= review.user.full_name %>
              <br>
              <span class="ms-1 fs-6 "><%= user_address(review) %></span>
              <br>
              <span class="ms-1 fs-6 "><%= review_month_year(review) %></span>
            </h4>
            <div class=" mb-2">
              <span class="fs-6">
              <% for i in 1..5 do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                  class="bi bi-star-fill <%= review_star_rating(review, i) %>" viewBox="0 0 16 16">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
              <% end %>  
              </span>
            </div>
            <p><%= review.body %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
