<!DOCTYPE html>
<html>
  <head>
    <title>Casa 49, Merida, Mexico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="assets/casa_49.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body style="background-image: url('assets/medium_pool.jpg');
  background-repeat: no-repeat;
  height: 100vh;">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <span class="navbar-brand align-middle">Casa 49</span>
      <button 
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <span id="homeNav" class="nav-link nav-active" onclick="pageNav(1)">Home</span>
          </li>
          <li class="nav-item">
            <span id="photosNav" class="nav-link" onclick="pageNav(2)">Photos</span>
          </li>
          <li class="nav-item">
            <span id="bookingNav" class="nav-link" onclick="pageNav(3)">Booking</span>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <%= yield %>
    </div>
    <script src="/assets/nav.js"></script>
    <script src="/assets/carousel.js"></script>
  </body>
</html>