<!DOCTYPE html>
<html>
  <head>
    <title>Casa 49, Merida, Mexico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/casa_49.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body style="background-image: url('assets/medium_pool.jpg');
  background-repeat: no-repeat;
  height: 100vh;">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <span class="navbar-brand align-middle">Casa 49</span>
      <button 
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="nav-link" onclick="home()">Home</span>
          </li>
          <li class="nav-item">
            <span class="nav-link" onclick="contactUs()">Contact Us</span>
          </li>
          <li class="nav-item">
            <span class="nav-link" onclick="photos()">Photos</span>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <%= yield %>
    </div>
    <script>
      function home() {
        document.getElementById("pageName").innerHTML = "Home";
        document.getElementById("pageText").innerHTML = 'Casa 49 is ideally located 4 blocks from the emblematic Paseo de Montejo, 1 block behind the ever popular "Restaurant Row" on Calle 47, and a block and a half from the wonderful Parque la Plancha.<br><br>At over 2300 square feet, this modern, open-concept home has 3 bedrooms, and 2 large bathrooms.<br><br>A stunning 20 foot skylight in the front room provides plenty of light and allows you to stargaze at night.<br><br>Brazilian Granite, a huge kitchen island, and high-end appliances create a dream Chef’s kitchen.<br><br> The gorgeous backyard, complete with filtered pool and lush gardens provide your own private Oasis to enjoy the lovely Merida weather.<br><br> 4 outdoor terraces give you ample opportunity to truly have an outdoor living experience in various areas of this home.';
        document.getElementById('myCarousel').classList.add("d-none");
      }
    </script>
    <script>
      function contactUs() {
        document.getElementById("pageName").innerHTML = "Contact Us";
        document.getElementById("pageText").innerHTML = 'To check availability and to make a booking contact Erich Briehl Whatsapp +52 999 960 4450';
        document.getElementById('myCarousel').classList.add("d-none");
      }
    </script>
    <script>
      function photos() {
        document.getElementById("pageName").innerHTML = "Photos";
        document.getElementById("pageText").innerHTML = '';
        document.getElementById('myCarousel').classList.remove("d-none");
      }
    </script>
    <script>
      $(document).ready(function(){
        // Activate Carousel
        $("#myCarousel").carousel();
          
        // Enable Carousel Indicators
        $(".item1").click(function(){
          $("#myCarousel").carousel(0);
        });
        $(".item2").click(function(){
          $("#myCarousel").carousel(1);
        });
        $(".item3").click(function(){
          $("#myCarousel").carousel(2);
        });
          
        // Enable Carousel Controls
        $(".left").click(function(){
          $("#myCarousel").carousel("prev");
        });
        $(".right").click(function(){
          $("#myCarousel").carousel("next");
        });
      });
    </script>
  </body>
</html>
