<!DOCTYPE html>
<html>
  <head>
    <title>Casa Forty Nine Vacation Home Medida Mexico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('casa49favicon.png') %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      <%= yield %>
  </body>
</html>
